body {
  position: relative;
  background-color: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("assets/bg-cricket.jpg") no-repeat center center;
  background-size: contain;
  background-attachment: fixed;
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
}

.main-container {
  padding-top: 50px;
}

.form-card {
  max-width: 600px;
  margin: auto;
  /* background-color: white; */
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}


.table-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

table {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

th {
  background-color: #212529;
  color: white;
} 